section {
  margin: 0px;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(212, 208, 208);
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

.imagelogo {
  height: 70px;
}

.navlinks {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.navlinks li a {
  color: black;
  text-decoration: none;
  font-weight: 900;
}
.userinfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 80px;
}
.userinfo img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

article {
  width: 80%;
}
.mainpage {
  margin: auto;
  padding-top: 70px;
}

.about {
  text-align: left;
  padding-top: 30px;
}

.flowers {
  padding-top: 40px;
}
.flowers img {
  object-fit: cover;
  height: 150px;
  width: 100%;
}
.galery {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.galeryimages {
  width: 400px;
  height: 300px;
  object-fit: cover;
}
.galeryimages p {
  color: white;
  position: relative;
  left: 60%;
  bottom: -70%;
  font-size: large;
}

.img1 {
  background-image: url("./images/1.jpg");
  background-size: cover;
  background-position: center;
}
.img2 {
  background-image: url("./images/2.jpg");
  background-size: cover;
  background-position: center;
}
.img3 {
  background-image: url("./images/3.jpg");
  background-size: cover;
  background-position: center;
}

/* tablet breakpoint */
@media (max-width: 991.98px) {
  .galery {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .galeryimages {
    width: 300px;
    height: 200px;
  }
}

/* mobile breakpoint */
@media (max-width: 575.98px) {
  body {
    background-color: bisque;
  }
  .navlinks {
    display: none;
  }
  .mainpage {
    width: auto;
  }
  .userinfo {
    flex-direction: column;
    gap: 10px;
  }

  nav {
    justify-content: center;
  }
  .about {
    padding: 10px;
  }
}
